<section>
  <h2>Styles</h2>
  <ul class="options">
    <% Order::STYLES.each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
</section>

<section>
  <h2>Strengths</h2>
  <ul class="options">
    <% Order::STRENGTHS.each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
</section>
