<section>
  <h2>Menu</h2>
  <h3>Styles</h3>
  <ul class="options">
    <% Order::STYLES.each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
  <h3>Strengths</h3>
  <ul class="options">
    <% Order::STRENGTHS.each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
</section>
