<section>
  <h2>
    <span class="breadcrumbs-before">Order</span>
    <span class="breadcrumbs-separator"> &rsaquo; </span>
    <span class="breadcrumbs-current">Pay</span>
    <span class="breadcrumbs-separator"> &rsaquo; </span>
    <span class="breadcrumbs-after">Invoice</span>
  </h2>
  <form action=<%= request.fullpath %> method="POST">
    <h3>Card Number</h3>
    <input type="text" name="number" placeholder="up to 19 digits" maxlength="19" />
    <br />
    <h3>Expiry</h3>
    <input type="text" name="expiry_month" placeholder="MM" maxlength="2" />
    <input type="text" name="expiry_year" placeholder="YYYY" maxlength="4" />
    <br />
    <h3>CVV</h3>
    <input type="text" name="cvv" placeholder="3–4 digits" maxlength="4" />
    <br />
    <br />
    <br />
    <input type="submit" value="Submit" />
  </form>
</section>
