@media screen and (max-width: 959px)
{
  .col-2
  {
    flex: 1 0 100% !important;
  }

  .col-2:first-child
  {
    padding: 0 0 1em 0;
  }

  .col-2:last-child
  {
    padding: 1em 0 0 0;
  }
}

@media screen and (min-width: 960px)
{
  .col-2
  {
    flex: 1 0 50%;
  }

  .col-2:first-child
  {
    padding: 0 1em 0 0;
  }

  .col-2:last-child
  {
    padding: 0 0 0 1em;
  }
}

body
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: rgb(65, 53, 60);
  transition: color 0.25s;
}

html, body
{
  height: 100%;
}

footer
{
  padding: 2em 0;
  background-color: rgb(22, 18, 20);
  color: rgb(239, 240, 241);
}

footer code
{
  background-color: rgb(65, 53, 60);
}

fieldset
{
  border: 0;
  padding: 0;
  margin: 0;
}

pre code
{
  display: block;
  white-space: pre-wrap;
  padding: 1em;
}

section,
.wrap
{
  display: block;
  margin: 0 auto;
  max-width: 960px;
  box-sizing: border-box;
  padding: 0 1em;
}

details + details
{
  padding-top: 1em;
}

section + section
{
  padding-top: 2em;
}

section + section:before
{
  content: "―";
  display: block;
  position: relative;
  text-align: center;
  padding-bottom: 2em;
  color: rgb(169, 148, 143);
}

section > :first-child,
.col-2 > :first-child
{
  margin-top: 0;
}

section > :last-child,
.col-2 > :last-child
{
  margin-bottom: 0;
}

table
{
  border-spacing: 0;
  border-collapse: collapse;
}

table tr:first-child > th
{
  transition: background-color 0.25s;
}

th
{
  text-align: left;
}

th, td
{
  padding: 1em;
  transition: border 0.25s;
}

summary,
input[type="radio"],
label
{
  cursor: pointer;
}

button,
input
{
  font-size: 1em;
}

input[type="text"]
{
  padding: 1em;
  transition: background-color 0.25s, color 0.25s, border 0.25s;
}

input[type="text"]:focus
{
  outline: none;
}

input[type="submit"],
button
{
  border: 0;
  padding: 1em 2em;
  transition: background-color 0.25s, transform 0.25s;
  background-color: rgb(65, 53, 60);
  color: white;
}

input[type="submit"]:focus,
button:focus
{
  outline: 0.2rem solid rgb(169, 148, 143);
}

input[type="submit"]:hover,
button:hover
{
  cursor: pointer;
  transform: translateY(0.1rem);
}

input[type="submit"]:active,
button:active
{
  outline: none;
  background-color: rgb(169, 148, 143);
}

input + input
{
  margin-left: 1em;
}

.wrap
{
  margin: 0 auto;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.strong
{
  font-weight: bold;
}

.disclaimer
{
  font-size: 0.8em;
}

.text-right
{
  text-align: right;
}

.container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

ul.options
{
  padding: 0;
  margin: 0;
}

ul.options li
{
  display: inline-block;
  padding: 2em;
  text-transform: capitalize;
  transition: background-color 0.25s;
}

footer summary
{
  text-transform: uppercase;
}

footer .container
{
  align-items: flex-start;
}

.col-2
{
  box-sizing: border-box;
}

.col-2 img
{
  max-width: 100%;
}

.menu-separator
{
  color: rgb(169, 148, 143);
}

.breadcrumbs-before,
.breadcrumbs-separator,
.breadcrumbs-after
{
  font-weight: normal;
}

.breadcrumbs-current
{
  font-weight: bold;
}

.breadcrumbs-current + .breadcrumbs-separator,
.breadcrumbs-after + .breadcrumbs-separator,
.breadcrumbs-after
{
  color: rgb(169, 148, 143);
}

header
{
  position: fixed;
  width: 100%;
  padding: 1em 0;
  line-height: 5em;
  background-color: rgba(65, 53, 60, 0.9);
  color: rgb(239, 240, 241);
}

header a,
header a:link,
header a:visited
{
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.25s, border-bottom 0.25s;
  border-bottom: 0.1rem solid transparent;
  color: rgb(239, 240, 241);
}

header a:hover
{
  border-bottom: 0.1rem solid rgb(239, 240, 241);
}

header a:active
{
  color: rgb(169, 148, 143);
  border-bottom: 0.1rem solid rgb(169, 148, 143);
}

header .left
{
  line-height: 0;
}

#header-spacer
{
  height: 5em;
  padding: 1em;
  border-bottom: 0.1rem;
  background-color: rgb(65, 53, 60);
}

#logo:hover
{
  border-bottom: 0;
}

#logo img
{
  max-height: 5em;
  max-width: 5em;
  transition: transform 0.25s;
  outline: 0.1rem solid transparent;
}

#logo img:hover
{
  transform: rotate(3deg);
  outline: 0.1rem solid transparent;
}

#logo img:active
{
  transform: rotate(3deg) scale(0.9);
  outline: 0.1rem solid transparent;
}

#content
{
  padding: 2em 0;
  min-height: 100%;
  transition: background-color 0.25s;
}
