body
{
  color: rgb(239, 240, 241);
}

table tr:first-child > th
{
  background-color: rgb(65, 53, 60);
}

th, td
{
  border: 0.1rem solid rgb(22, 18, 20);
}

input[type="text"]
{
  background-color: rgb(43, 35, 40);
  color: rgb(239, 240, 241);
  border: 0.2rem solid rgb(65, 53, 60);
}

input[type="text"]:focus
{
  background-color: rgb(65, 53, 60);
}

ul.options li
{
  background-color: rgb(65, 53, 60);
}

#content
{
  background-color: rgb(43, 35, 40);
}
